@font-face {
    font-family: 'Didot';
    src: url(./fonts/Didot\ Italic.ttf);
}

@font-face {
    font-family: 'myfont';
    src: url('./fonts/helvetica.ttf');
}

@font-face {
    font-family: "bold";
    src: url('./fonts/Helvetica-Bold.ttf');
}

@font-face {
    font-family: "light";
    src: url("./fonts/HelveticaLt.ttf");
}

@font-face {
    font-family: "regular";
    src: url(./fonts/Helvetica_regular.ttf);
}

* {
    margin: 0;
    padding: 0;

}

.hero_container {
    background-image: url(./images/Hero.avif);
    background-repeat: no-repeat;
    width: 100%;
    height: 978px;
    background-position: center;
    background-size: cover;
}

.hero {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.items {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    color: #f6f6f6;
    margin-top: 20px;
}

.items i {
    font-size: larger;
}

.springs {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 300px;
}

.springs p {
    font-family: 'Didot';
    font-style: italic;
    font-size: 222px;
    font-weight: 400;
    letter-spacing: 4px;
    color: white;
    position: relative;
    top: 30px;
    margin: 0 20px 20px 20px;
}

.springs h5 {
    font-family: bold;
    color: white;
    font-size: 36px;
    line-height: 41px;
    position: relative;
    bottom: 30px;
    font-weight: 700;

}

.springs button {
    width: 261px;
    height: 50px;
    font-family: 'regular';
    border: 2px solid white;
    cursor: pointer;
    color: white;
    background: black;
    font-weight: 600;
    font-size: 18px;
    padding: 13px;
    position: relative;
    top: 30px;
}

.springs button img {
    padding-left: 10px;
}

.card-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 130px;
}

.card {
    position: relative;
    margin: 10px;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    position: absolute;
    width: 100%;
    bottom: 45px;
    text-align: center;
    color: white;

}

.card-body button {
    width: 189px;
    background: none;
    height: 44px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0, 0.349);
    font-weight: bold;
    font-size: large;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    display: flex;
    margin: auto;
    justify-content: center;
}

.card-body button img {
    height: 16px;
    width: 26px;
    padding-left: 20px;
    border-radius: 0px;


}

.card-body h2 {
    font-family: 'bold';
    font-size: 34px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.Featured_Products {
    position: relative;
    width: 100%;
    font-family: "bold";
    bottom: 100px;
}

.Featured_Products h2 {
    border-bottom: 3px solid #EEEEEE;
    padding: 10px;
    padding-top: 30px;
    width: 70%;
    margin: auto;
}

.products {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    top: 20px;
    align-items: center;
    justify-content: center;
}

.products p {
    font-family: "regular";
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding: 20px;
}

.bag {
    width: 85%;
    float: left;
    width: auto;
    text-align: center;
    font-family: 'myfont';
    flex-direction: column;
    align-items: center;
}

.bag img {
    width: 110%;
}
.shirt{
    width: 100%;
}
.jacket_switter {
    margin: 20px;
    text-align: center;
    font-family: 'myfont';

}

.question {
    padding: 17px;
}

.fotter {
    position: relative;
    background-color: #f6f6f6;
    color: #4f4f4f;
    margin: auto;
    bottom: 0px;
}

.fotter_container {
    margin: auto;
    width: 90%;
}

.contact p {
    text-align: center;
    font-family: 'light';
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.43px;
    line-height: 20px;
}

.calls {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
    border-bottom: 1px solid #CCCCCC;
    height: fit-content;
    justify-content: space-evenly;
}

.calls p {
    font-family: 'bold';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2px;
    margin: 0 10px 0 10px;
}

.grid {

    height: fit-content;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.one {
    width: 30vw;
    font-family: "regular";
    font-weight: 500;
    line-height: 1.6;
    margin-right: 40px;
    color: #444444;
    flex-grow: 2;
}

.two h3 {
    font-family: regular;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-right: 40px;

    color: #444444;
}

.two p {
    font-family: "regular";
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;
    color: #444444;
    padding-top: 15px;
    padding-bottom: 1px;
}

.menu {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.32px;
    color: #444444;
}

.menu_list {
    padding: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #000;
}

.three {

    display: flex;
    font-size: xx-large;
    align-items: center;
    letter-spacing: 15px;
    align-items: flex-start;
    margin-top: 30px;
}

.three img {
    padding: 12px;
}

.power {
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
    font-family: 'light';
    font-size: 13px;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: 0.23px;
    border-top: 1px solid #CCCCCC;
}

@media screen and (max-width:700px) {
    .card-container {
        bottom: 90px;
    }

}

@media screen and (max-width:800px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
    }

    .three {
        margin-top: 0;
    }
}

@media screen and (max-width:600px) {
    .springs h5 {
        font-size: 7vw;
    }

}

@media screen and (max-width:450px) {
    .springs h5 {
        font-size: 7vw;
    }

}

@media screen and (max-width:900px) {
    .springs p {
        font-size: 25vw;
    }
}

@media screen and (max-width:500px) {
    .hero_container {
        height: 350px;
    }

    .springs {
        position: static;
    }

    .springs p {
        font-size: 15vw;
        top: 150px;
    }

    .springs h5 {
        top: 100px;
        font-size: 5vw;
        margin-top: 5px;
    }

    .springs button {
        top: 100px;
        width: 49vw;
        height: 6vh;
        font-size: 3vw;
    }

    .card-container {
        bottom: 50px;
    }

    .springs button img {
        width: 5vw;
    }

    .Featured_Products {
        bottom: 60px;
    }

    .items {
        margin-top: 5px;

    }

    .items img {
        width: 12vw;
    }
}

@media screen and (max-width:875px) {
    .products{
        width: 59%;
    }
}
@media screen and (max-width:787px) {
    .Featured_Products {
        margin-right: 10px;
    }

    .Featured_Products h2 {
        width: 94%;
        padding: 30px 0 30px 10px;
        margin: 0%;
    }

    .fotter_container {
        width: 100%;
    }

    .two h3 {
        margin-right: 0;
    }

    .menu_list {
        padding: 5px 0 5px 0;
    }
    .power{
   margin-bottom: 0%;
    }
}