@font-face {
    font-family: Didot;
    src: url(didot.ttf);
}

@font-face {
    font-family: myfont;
    src: url(helvetica.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
}

.items {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    color: #f6f6f6;
    margin-top: 20px;
}

.items i {
    font-size: x-large
}

.springs {
    position: relative;
}

.spring {
    position: absolute;
    width: 100%;
    bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spring p {
    font-family: Didot;
    font-style: italic;
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px black;
}

.spring h2 {
    font-family: myfont;
    color: white;
    font-weight: 900;
    font-size: x-large;
    text-shadow: 2px 1px black;

}

.spring button {
    width: 270px;
    height: 40px;
    text-transform: capitalize;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    background: black;
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
}

.card-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 80px;
}

.card {
    position: relative;
    margin: 10px;
}

.card-body {
    position: absolute;
    width: 100%;
    bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
    font-weight: bold;

}

.card-body button {
    width: 156px;
    height: 35px;
    text-transform: capitalize;
    background: none;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0, 0.349);
    font-family: myfont;
    font-weight: bold;
    font-size: large;
    margin-top: 10px;

}

.card-body h2 {
    font-family: myfont;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 2px 1px black;

}

.products {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.bag {
    float: left;
    text-align: center;
    font-family: myfont;
}

.jacket_switter {
    margin: 20px;
    text-align: center;
    font-family: myfont;

}
.hero,.sunglass,.jacket,.bag,.shirt,.swittter{
    width: 100%;
    height: auto;
}
.bag{
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.fotter {
    position: relative;
    background-color: #f6f6f6;
    color: #4f4f4f;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}

.contact p {
    text-align: center;
    font-family: myfont;
    font-size: large;
    font-weight: 900;
}

.calls {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
}

.calls h3 {
    font-family: myfont;
}

.grid {
    display: grid;
    font-family: myfont;
    /* grid-template-columns: 0.9fr 2fr 0.9fr; */
    /* grid-template-rows: auto; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.one {
    /* background-color: aqua;
    border: 2px solid red; */
    grid-column: span 2;
}

.two {
    /* background-color: rgb(17, 0, 255);
    border: 2px solid red; */
    grid-column: span 3;
}

.two h3 {
    line-height: 1.6;
    margin-right: 40px;
    color: #444444;
}

.three {
    /* background-color: rgb(145, 255, 0);
    border: 2px solid red; */
    grid-column: span 2;
    font-size: xx-large;
    margin-top: 30px;
}

.power {
    margin-bottom: 500px;
}

@media screen and (max-width:750px) {
    .calls {
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media screen and (max-width:700px) {
    .card-container {
        bottom: 20px;
    }

    .spring {
        bottom: 40px;
    }
}

@media screen and (max-width:850px) {
    .spring p {
        font-size: 50px;
    }
}

@media screen and (max-width:450px) {
    .spring {
        bottom: 20px;
    }
}

@media screen and (max-width:330) {
    .spring p {
        font-size: 30px;
    }

    .spring h2 {
        font-size: 30px;
    }
}