 * {
     margin: 0;
     padding: 0;
 }
 /* body {
    width: 100%;
   
} */
 
 .container img {
     width: 100%;
     height: auto;
     position: relative;
 }
 
 .container img {
     object-fit: cover;
 }
 
 .menu {
     position: absolute;
     top: 0;
     left: 0;
     color: white;
     margin-top: 30px;
     margin-left: 30px;
     font-size: xx-large;
 }
 
 .cart {
     position: absolute;
     top: 0;
     right: 0;
     color: white;
     margin-top: 30px;
     margin-right: 30px;
     font-size: xx-large;
 }
 
 .fashion {
     position: absolute;
     top: 400px;
     color: white;
     right: 50%;
 }
 
 .button {
     position: absolute;
     top: 380px;
     color: white;
     right: 50%;
 }